html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;

	vertical-align: baseline;
	font-family: 'Open Sans', sans-serif;
	list-style-type: none;
}
a {
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

#drops {
	position: relative;
	margin-bottom: 12px;
	clear: both;
}
table.minimalistBlack {
  border: 3px solid #000000;
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}
table.minimalistBlack th {
	cursor: pointer;
}
table.minimalistBlack td, table.minimalistBlack th {
  border: 1px solid #000000;
  padding: 5px 4px;
}
table.minimalistBlack tbody td {
  font-size: 13px;
}
table.minimalistBlack thead {
  background: #CFCFCF;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  border-bottom: 3px solid #000000;
}
table.minimalistBlack thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}
table.minimalistBlack tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  border-top: 3px solid #000000;
}
table.minimalistBlack tfoot td {
  font-size: 14px;
}
.clear {
	clear: both;
}
#first {
	position: relative;
	margin-top: 12px;
	margin-bottom: 12px;
	clear: both;
}

.image {
	position: relative;
	float: left;
	width: 280px;
}
.info {
	position: relative;
	float: left;
	padding-top: 20px;
}

@media (max-width: 460px) {
	.image {
		width: 120px;
	  }
	}
.search {
	position: relative;
	float: left;
	width: 260px;
	height: 28px;
	font-size: 20px;
	margin-right: 10px;
}
.place {
	background-color: rgb(169, 182, 255);
}
.item2 {
	background-color: rgb(175, 245, 175);
}
.legend {
	position: relative;
	padding: 2px 10px 2px 10px;
	float: right;

}
.result {
	position: absolute;
	min-width: 200px;
	background-color: #FFF;
	z-index: 2;
}
.list-group-item{
	padding: 2px 10px 2px 10px;
}
.search_results {
	position: relative;
	clear: both;
}
.drop_place {
	position: relative;
	/*float: left;*/
	min-width: 390px;
	width: 100%;
}
.place_level{
	position: relative;
	clear: both;
}
.text_level {
	margin-top: 14px;
	padding: 4px;
	background-color: rgb(231, 231, 231);
	clear: both;
}
.text_rotation {
	padding: 4px;
	background-color: rgb(216, 216, 216);
	clear: both;
}
/* ----------- */

.grid-container {
	display: grid;
}

.grid-container--fill {
	grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
}
.statistics {
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	width: 336px;
}
.total_info {
	position: relative;
	float: left;
	width: 100px;
	border: 1px solid rgb(172, 211, 255);
	margin: 5px;
}
#header {
	position: relative;
	margin: auto;
	max-width: 384px;
}

#footer {
	clear: both;
	bottom: 0px;
	position: absolute;
	height: 24px;
	margin-top: -40px;
	min-width: calc(100% - 20px);
	padding-right: 20px;
	border-top: 1px solid rgb(112, 112, 112);
	background-color: rgb(241, 241, 241);
	text-align: right;
}
#content {
	position: relative;
	clear: both;
	margin-bottom: 40px;
}
body {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	clear: both;
}